In [1]:
my_list=[1,2,3,4,5,6,7,8,9,34,"hi",True]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 34, 'hi', True]

In [2]:
type(my_list)

list

#### List is hetrogenous-allows all data type Square brackets

In [3]:
my_list[0]

1

In [4]:
my_list[5]

6

##### retrive the index using numbers 
##### index starts with zero

In [5]:
my_list[5]=99
my_list

[1, 2, 3, 4, 5, 99, 7, 8, 9, 34, 'hi', True]

In [10]:
my_tuple=(1,2,3,4,5,6,.7,1.34,"hi",True)
my_tuple

(1, 2, 3, 4, 5, 6, 0.7, 1.34, 'hi', True)

In [12]:
my_tuple[4]

5

In [13]:
my_tuple[0]=100

TypeError: 'tuple' object does not support item assignment

#### 1. tuple is hetrogenous
#### 2. Retieve the elements using index
#### 3. Tuple is immutable-cannot make changes
#### 4. it is writen in parenthasis

In [14]:
my_tuple=1,2,3,4,5,6,.7,1.34,"hi",True
my_tuple

(1, 2, 3, 4, 5, 6, 0.7, 1.34, 'hi', True)